.navbar-light .navbar-nav .nav-link{
  color: #87232f;
}

.masthead {

    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../assets/image/laptop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  .masthead h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
  }


.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
  }
  
  .btn-primary {
    background-color: #87232f;
  }
  
  .btn-primary:hover {
    -webkit-transform:scale(1.2);transform:scale(1.2);
     background-color: #9192a2;
  }
  
  .btn-primary:focus {
    background-color: #878899;
    color: white;
  }
  
  .btn-primary:active {
    background-color: #595565 !important;
  } 

  .about-section {
    padding-top: 5rem;
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
  } 
  
  .about-section p {
    margin-bottom: 5rem;
    color: #9192a2;
  }

  

  #about-picture{
    overflow: hidden;
    width: 50%; 
    border-radius: 5%;
  }    



  .col-8 p{
    margin-bottom: 1em;
  }

  #github-link{
    color: #87232f;
    font-size: 20px;
    font-weight: bolder;

  }

  @media (min-width: 768px) {
    .masthead h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
      padding: 0;
    }
    .masthead h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
